<%- include ../partials/header.ejs%>

<%- include ../partials/main_nav.ejs%>
<link rel='stylesheet' href='/Content/app.css' />

<!-- Content for edit page-->

<div class="container">
        <div class="jumbotron"> 

    <div class="row">
        <div class = "offset-md-3 col-md-6">
            <h2 class="display-6" style="text-align: center;"><%= title %></h2>
            <p><br></p>
            <form class="form" method = "POST">   
                <div class="form-group">
                    <b><I>Business Contact Name</b></I>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the name"
                    name="name" 
                    value= "<%= contact.name %>"
                    required>
                </div>

                <div class="form-group">
                    <b><I>Contact Number</b></I>
                    <input type="text" class="form-control"
                    id="numberTextField"
                    placeholder="Enter the contact number"
                    name="number" 
                    value= "<%= contact.number %>"
                    required>
                </div>

                <div class="form-group">
                    <b><I>Email Address</b></I>
                    <input type="text" class="form-control"
                    id="mailTextField"
                    placeholder="Enter the email address"
                    name="email"
                    value= "<%= contact.email %>"
                    required>
                </div>

                

                <button class="btn btn-primary btn-sm" type="submit">
                    <i class="fas fa-edit"> </i>Submit</button>

                    <a href="/contact-list/delete/<%= contact.id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i>Delete</a>
                                <br><br>
                    
                    <a href="/contact-list" class="btn-warning btn-sm">
                        <i class="fas fa-undo">Cancel</i></a>
            </form>

        </div>
   </div>
</div>




<%- include ../partials/bottom_nav.ejs%>

<%- include ../partials/footer.ejs%>

